cef-web/src/main/schema/wsdl/RegisterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RegisterService" targetNamespace="http://www.exchangenetwork.net/wsdl/register/1">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.exchangenetwork.net/wsdl/register/1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.exchangenetwork.net/wsdl/register/1" version="1.0">
  <xs:element name="AddRole" type="tns:AddRole"/>
  <xs:element name="AddRoleResponse" type="tns:AddRoleResponse"/>
  <xs:element name="AddRoleWithElements" type="tns:AddRoleWithElements"/>
  <xs:element name="AddRoleWithElementsResponse" type="tns:AddRoleWithElementsResponse"/>
  <xs:element name="ApproveRole" type="tns:ApproveRole"/>
  <xs:element name="ApproveRoleResponse" type="tns:ApproveRoleResponse"/>
  <xs:element name="Authenticate" type="tns:Authenticate"/>
  <xs:element name="AuthenticateResponse" type="tns:AuthenticateResponse"/>
  <xs:element name="ChangePassword" type="tns:ChangePassword"/>
  <xs:element name="ChangePasswordResponse" type="tns:ChangePasswordResponse"/>
  <xs:element name="CreateAnswers" type="tns:CreateAnswers"/>
  <xs:element name="CreateAnswersResponse" type="tns:CreateAnswersResponse"/>
  <xs:element name="CreateOrganization" type="tns:CreateOrganization"/>
  <xs:element name="CreateOrganizationResponse" type="tns:CreateOrganizationResponse"/>
  <xs:element name="CreatePendingUser" type="tns:CreatePendingUser"/>
  <xs:element name="CreatePendingUserResponse" type="tns:CreatePendingUserResponse"/>
  <xs:element name="CreateSecretAnswers" type="tns:CreateSecretAnswers"/>
  <xs:element name="CreateSecretAnswersResponse" type="tns:CreateSecretAnswersResponse"/>
  <xs:element name="CreateUser" type="tns:CreateUser"/>
  <xs:element name="CreateUserResponse" type="tns:CreateUserResponse"/>
  <xs:element name="DeactiveRole" type="tns:DeactiveRole"/>
  <xs:element name="DeactiveRoleResponse" type="tns:DeactiveRoleResponse"/>
  <xs:element name="DeleteAnswers" type="tns:DeleteAnswers"/>
  <xs:element name="DeleteAnswersResponse" type="tns:DeleteAnswersResponse"/>
  <xs:element name="DenyRole" type="tns:DenyRole"/>
  <xs:element name="DenyRoleResponse" type="tns:DenyRoleResponse"/>
  <xs:element name="GenerateAnswerResetCode" type="tns:GenerateAnswerResetCode"/>
  <xs:element name="GenerateAnswerResetCodeResponse" type="tns:GenerateAnswerResetCodeResponse"/>
  <xs:element name="MarkMobilePhoneAsPrimary" type="tns:MarkMobilePhoneAsPrimary"/>
  <xs:element name="MarkMobilePhoneAsPrimaryResponse" type="tns:MarkMobilePhoneAsPrimaryResponse"/>
  <xs:element name="RegisterMobilePhone" type="tns:RegisterMobilePhone"/>
  <xs:element name="RegisterMobilePhoneResponse" type="tns:RegisterMobilePhoneResponse"/>
  <xs:element name="RetrieveAllApprovedQuestions" type="tns:RetrieveAllApprovedQuestions"/>
  <xs:element name="RetrieveAllApprovedQuestionsResponse" type="tns:RetrieveAllApprovedQuestionsResponse"/>
  <xs:element name="RetrieveAllRegistrationCountries" type="tns:RetrieveAllRegistrationCountries"/>
  <xs:element name="RetrieveAllRegistrationCountriesResponse" type="tns:RetrieveAllRegistrationCountriesResponse"/>
  <xs:element name="RetrieveAllRegistrationStates" type="tns:RetrieveAllRegistrationStates"/>
  <xs:element name="RetrieveAllRegistrationStatesResponse" type="tns:RetrieveAllRegistrationStatesResponse"/>
  <xs:element name="RetrieveAllSecretQuestions" type="tns:RetrieveAllSecretQuestions"/>
  <xs:element name="RetrieveAllSecretQuestionsResponse" type="tns:RetrieveAllSecretQuestionsResponse"/>
  <xs:element name="RetrieveAllUserSuffixes" type="tns:RetrieveAllUserSuffixes"/>
  <xs:element name="RetrieveAllUserSuffixesResponse" type="tns:RetrieveAllUserSuffixesResponse"/>
  <xs:element name="RetrieveAllUserTitles" type="tns:RetrieveAllUserTitles"/>
  <xs:element name="RetrieveAllUserTitlesResponse" type="tns:RetrieveAllUserTitlesResponse"/>
  <xs:element name="RetrieveOrganizationByUserOrganizationId" type="tns:RetrieveOrganizationByUserOrganizationId"/>
  <xs:element name="RetrieveOrganizationByUserOrganizationIdResponse" type="tns:RetrieveOrganizationByUserOrganizationIdResponse"/>
  <xs:element name="RetrieveOrganizations" type="tns:RetrieveOrganizations"/>
  <xs:element name="RetrieveOrganizationsByDataflow" type="tns:RetrieveOrganizationsByDataflow"/>
  <xs:element name="RetrieveOrganizationsByDataflowResponse" type="tns:RetrieveOrganizationsByDataflowResponse"/>
  <xs:element name="RetrieveOrganizationsByUserOrganizationIds" type="tns:RetrieveOrganizationsByUserOrganizationIds"/>
  <xs:element name="RetrieveOrganizationsByUserOrganizationIdsResponse" type="tns:RetrieveOrganizationsByUserOrganizationIdsResponse"/>
  <xs:element name="RetrieveOrganizationsResponse" type="tns:RetrieveOrganizationsResponse"/>
  <xs:element name="RetrieveRoleTypes" type="tns:RetrieveRoleTypes"/>
  <xs:element name="RetrieveRoleTypesResponse" type="tns:RetrieveRoleTypesResponse"/>
  <xs:element name="RetrieveRoles" type="tns:RetrieveRoles"/>
  <xs:element name="RetrieveRolesForDataflow" type="tns:RetrieveRolesForDataflow"/>
  <xs:element name="RetrieveRolesForDataflowResponse" type="tns:RetrieveRolesForDataflowResponse"/>
  <xs:element name="RetrieveRolesResponse" type="tns:RetrieveRolesResponse"/>
  <xs:element name="RetrieveSecretAnswers" type="tns:RetrieveSecretAnswers"/>
  <xs:element name="RetrieveSecretAnswersResponse" type="tns:RetrieveSecretAnswersResponse"/>
  <xs:element name="RetrieveUser" type="tns:RetrieveUser"/>
  <xs:element name="RetrieveUserByUserRoleId" type="tns:RetrieveUserByUserRoleId"/>
  <xs:element name="RetrieveUserByUserRoleIdResponse" type="tns:RetrieveUserByUserRoleIdResponse"/>
  <xs:element name="RetrieveUserMobile" type="tns:RetrieveUserMobile"/>
  <xs:element name="RetrieveUserMobileByPrimary" type="tns:RetrieveUserMobileByPrimary"/>
  <xs:element name="RetrieveUserMobileByPrimaryResponse" type="tns:RetrieveUserMobileByPrimaryResponse"/>
  <xs:element name="RetrieveUserMobileResponse" type="tns:RetrieveUserMobileResponse"/>
  <xs:element name="RetrieveUserQuestionsStatus" type="tns:RetrieveUserQuestionsStatus"/>
  <xs:element name="RetrieveUserQuestionsStatusResponse" type="tns:RetrieveUserQuestionsStatusResponse"/>
  <xs:element name="RetrieveUserResponse" type="tns:RetrieveUserResponse"/>
  <xs:element name="SendMobileMessage" type="tns:SendMobileMessage"/>
  <xs:element name="SendMobileMessageResponse" type="tns:SendMobileMessageResponse"/>
  <xs:element name="UnregisterMobilePhone" type="tns:UnregisterMobilePhone"/>
  <xs:element name="UnregisterMobilePhoneResponse" type="tns:UnregisterMobilePhoneResponse"/>
  <xs:element name="UpdateOrganization" type="tns:UpdateOrganization"/>
  <xs:element name="UpdateOrganizationProfile" type="tns:UpdateOrganizationProfile"/>
  <xs:element name="UpdateOrganizationProfileResponse" type="tns:UpdateOrganizationProfileResponse"/>
  <xs:element name="UpdateOrganizationResponse" type="tns:UpdateOrganizationResponse"/>
  <xs:element name="UpdateRole" type="tns:UpdateRole"/>
  <xs:element name="UpdateRoleResponse" type="tns:UpdateRoleResponse"/>
  <xs:element name="UpdateSecretAnswers" type="tns:UpdateSecretAnswers"/>
  <xs:element name="UpdateSecretAnswersResponse" type="tns:UpdateSecretAnswersResponse"/>
  <xs:element name="UpdateUser" type="tns:UpdateUser"/>
  <xs:element name="UpdateUserResponse" type="tns:UpdateUserResponse"/>
  <xs:element name="VerifyMobilePhone" type="tns:VerifyMobilePhone"/>
  <xs:element name="VerifyMobilePhoneResponse" type="tns:VerifyMobilePhoneResponse"/>
  <xs:element name="retrieveAllRolesByRoleIdAndOrganizationId" type="tns:retrieveAllRolesByRoleIdAndOrganizationId"/>
  <xs:element name="retrieveAllRolesByRoleIdAndOrganizationIdResponse" type="tns:retrieveAllRolesByRoleIdAndOrganizationIdResponse"/>
  <xs:complexType name="RegisterMobilePhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="oldMobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="primaryIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="dataflowName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="governmentPartner" type="xs:boolean"/>
      <xs:element minOccurs="0" name="lastLogin" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="legacySecretAnswer" type="xs:string"/>
      <xs:element minOccurs="0" name="legacySecretQuestion" type="xs:string"/>
      <xs:element minOccurs="0" name="lexisNexisAttempts" type="xs:long"/>
      <xs:element minOccurs="0" name="middleInitial" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="passwordResetAttempts" type="xs:long"/>
      <xs:element minOccurs="0" name="registrationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="suffix" type="tns:registrationUserSuffix"/>
      <xs:element minOccurs="0" name="title" type="tns:registrationUserTitle"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
      <xs:element minOccurs="0" name="verificationIndexElectronic" type="xs:long"/>
      <xs:element minOccurs="0" name="verificationIndexPaper" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationUserSuffix">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationUserTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterMobilePhoneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserMobile" type="tns:RegistrationUserMobileType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationUserMobileType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="PrimaryIndicator" type="xs:boolean"/>
      <xs:element minOccurs="0" name="VerificationCodeSentDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="MobileStatus" type="tns:registrationUserMobileStatus"/>
      <xs:element minOccurs="0" name="VerificationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="VerificationMessageId" type="xs:string"/>
      <xs:element minOccurs="0" name="VerificationCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationByUserOrganizationId">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="userOrganizationId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationByUserOrganizationIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" name="cdxEsaStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="tns:registrationCountry"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="fax" type="xs:string"/>
      <xs:element minOccurs="0" name="mailingAddress1" type="xs:string"/>
      <xs:element minOccurs="0" name="mailingAddress2" type="xs:string"/>
      <xs:element minOccurs="0" name="mailingAddress3" type="xs:string"/>
      <xs:element minOccurs="0" name="mailingAddress4" type="xs:string"/>
      <xs:element minOccurs="0" name="organizationId" type="xs:long"/>
      <xs:element minOccurs="0" name="organizationName" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneExtension" type="xs:string"/>
      <xs:element minOccurs="0" name="primaryOrg" type="xs:boolean"/>
      <xs:element minOccurs="0" name="state" type="tns:registrationState"/>
      <xs:element minOccurs="0" name="userOrganizationId" type="xs:long"/>
      <xs:element minOccurs="0" name="zip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationState">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="region" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateOrganizationProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="profileUpdate" type="tns:RegistrationProfileUpdate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationProfileUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserOrganizationId" type="xs:long"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
      <xs:element minOccurs="0" name="Phone" type="xs:string"/>
      <xs:element minOccurs="0" name="PhoneExtension" type="xs:string"/>
      <xs:element minOccurs="0" name="Fax" type="xs:string"/>
      <xs:element minOccurs="0" name="SuppressNotification" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateOrganizationProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProfileUpdateRequest" type="tns:RegistrationProfileUpdateRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationProfileUpdateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserOrganizationId" type="xs:long"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
      <xs:element minOccurs="0" name="Phone" type="xs:string"/>
      <xs:element minOccurs="0" name="PhoneExtension" type="xs:string"/>
      <xs:element minOccurs="0" name="Fax" type="xs:string"/>
      <xs:element minOccurs="0" name="UserId" type="xs:string"/>
      <xs:element minOccurs="0" name="CurrentEmail" type="xs:string"/>
      <xs:element minOccurs="0" name="CurrentPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="CurrentPhoneExtension" type="xs:string"/>
      <xs:element minOccurs="0" name="CurrentFax" type="xs:string"/>
      <xs:element minOccurs="0" name="VerificationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="VerificationCodeExpirationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DeleteExtension" type="xs:boolean"/>
      <xs:element minOccurs="0" name="DeleteFax" type="xs:boolean"/>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateAnswerResetCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateAnswerResetCodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerResetCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkMobilePhoneAsPrimary">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="dataflowName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkMobilePhoneAsPrimaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserMobile" type="tns:RegistrationUserMobileType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
      <xs:element minOccurs="0" name="newPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="expire" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangePasswordResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="AddRoleWithElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="role" type="tns:registrationRole"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="elements" type="tns:RegistrationRoleDataElement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataflow" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:registrationRoleStatus"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:registrationRoleType"/>
      <xs:element minOccurs="0" name="userRoleId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationRoleStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationRoleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:long"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="esaRequirement" type="xs:string"/>
      <xs:element minOccurs="0" name="signatureQuestionsRequired" type="xs:boolean"/>
      <xs:element minOccurs="0" name="manageFacilities" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationRoleDataElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element minOccurs="0" name="element" type="tns:RegistrationRoleTypeDataElement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationRoleTypeDataElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="required" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sortOrder" type="xs:long"/>
      <xs:element minOccurs="0" name="section" type="tns:registrationRoleTypeDataSection"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationRoleTypeDataSection">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="showHeader" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sortOrder" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddRoleWithElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeactiveRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeactiveRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllSecretQuestions">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllSecretQuestionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:registrationQuestion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="useType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendMobileMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="textMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendMobileMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserMobileMessageResponse" type="tns:RegistrationUserMobileResponseType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationUserMobileResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:string"/>
      <xs:element minOccurs="0" name="MobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="MessageId" type="xs:string"/>
      <xs:element minOccurs="0" name="SentDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="answerResetCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteAnswersResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="ApproveRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApproveRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllUserSuffixes">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllUserSuffixesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="UserSuffix" type="tns:registrationUserSuffix"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllRegistrationStates">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllRegistrationStatesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="state" type="tns:registrationState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Authenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
      <xs:element minOccurs="0" name="credential" type="xs:string"/>
      <xs:element minOccurs="0" name="domain" type="xs:string"/>
      <xs:element minOccurs="0" name="authenticationMethod" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuthenticateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateSecretAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="answers" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="answer" type="xs:string"/>
      <xs:element minOccurs="0" name="question" type="tns:registrationQuestion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateSecretAnswersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserMobileByPrimary">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserMobileByPrimaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserMobile" type="tns:RegistrationUserMobileType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateOrganizationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveRoleTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="dataflow" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveRoleTypesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="RoleType" type="tns:registrationRoleType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllApprovedQuestions">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllApprovedQuestionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ApprovedQuestion" type="tns:registrationQuestion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateSecretAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="answers" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateSecretAnswersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllRegistrationCountries">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllRegistrationCountriesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Country" type="tns:registrationCountry"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserByUserRoleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="userRoleId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserByUserRoleIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveRolesForDataflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organzation" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="dataflow" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveRolesForDataflowResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="answers" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DenyRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
      <xs:element minOccurs="0" name="role" type="tns:registrationRole"/>
      <xs:element minOccurs="0" name="reason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DenyRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllUserTitles">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveAllUserTitlesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="UserTitle" type="tns:registrationUserTitle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateOrganizationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifyMobilePhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="oldMobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="verificationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="dataflowName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifyMobilePhoneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserMobile" type="tns:RegistrationUserMobileType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationsByDataflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="dataflow" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationsByDataflowResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserMobile">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserMobileResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:RegistrationUserMobileType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserQuestionsStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveUserQuestionsStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserQuestionsStatus" type="tns:registrationUserQuestionsStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationUserQuestionsStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="exist" type="xs:boolean"/>
      <xs:element minOccurs="0" name="locked" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retrieveAllRolesByRoleIdAndOrganizationId">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="roleId" type="xs:long"/>
      <xs:element minOccurs="0" name="organizationId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retrieveAllRolesByRoleIdAndOrganizationIdResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizations">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="answers" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateAnswersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Answer" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="org" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveRolesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Role" type="tns:registrationRole"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveSecretAnswers">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveSecretAnswersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:registrationAnswer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnregisterMobilePhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="dataflowName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnregisterMobilePhoneResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationsByUserOrganizationIds">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="userOrgIds" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveOrganizationsByUserOrganizationIdsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatePendingUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
      <xs:element minOccurs="0" name="organization" type="tns:registrationOrganization"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreatePendingUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" type="tns:registrationUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="registrationUserMobileStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VERIFIED"/>
      <xs:enumeration value="UNVERIFIED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RegisterErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E_UnknownUser"/>
      <xs:enumeration value="E_InvalidCredential"/>
      <xs:enumeration value="E_AccessDenied"/>
      <xs:enumeration value="E_InvalidToken"/>
      <xs:enumeration value="E_TokenExpired"/>
      <xs:enumeration value="E_AuthMethod"/>
      <xs:enumeration value="E_UserAlreadyExists"/>
      <xs:enumeration value="E_InsufficientPrivileges"/>
      <xs:enumeration value="E_WeakPassword"/>
      <xs:enumeration value="E_InvalidPassword"/>
      <xs:enumeration value="E_InvalidArgument"/>
      <xs:enumeration value="E_InvalidAnswerResetCode"/>
      <xs:enumeration value="E_MaxNumberOfResetAttemptsReached"/>
      <xs:enumeration value="E_AnswersAlreadyExist"/>
      <xs:enumeration value="E_RoleAlreadyExists"/>
      <xs:enumeration value="E_WrongUserId"/>
      <xs:enumeration value="E_ReachedMaxNumberOfAttempts"/>
      <xs:enumeration value="E_WrongAnswer"/>
      <xs:enumeration value="E_WrongIdPassword"/>
      <xs:enumeration value="E_AccountLocked"/>
      <xs:enumeration value="E_AccountExpired"/>
      <xs:enumeration value="E_DuplicateAssociation"/>
      <xs:enumeration value="E_InvalidSignature"/>
      <xs:enumeration value="E_InternalError"/>
      <xs:enumeration value="E_Validation"/>
      <xs:enumeration value="E_MissingMobile"/>
      <xs:enumeration value="E_MissingMobilePrimary"/>
      <xs:enumeration value="E_DuplicateMobile"/>
      <xs:enumeration value="E_ReachedMaxNumberOfMobile"/>
      <xs:enumeration value="E_MobileNotRegistered"/>
      <xs:enumeration value="E_MobileStatusIncorrect"/>
      <xs:enumeration value="E_MobileNoVerificationCode"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisterFault" type="tns:RegisterFault"/>
  <xs:complexType name="RegisterFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="errorCode" type="tns:RegisterErrorCode"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="RegisterMobilePhone">
    <wsdl:part element="tns:RegisterMobilePhone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationByUserOrganizationId">
    <wsdl:part element="tns:RetrieveOrganizationByUserOrganizationId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationProfile">
    <wsdl:part element="tns:UpdateOrganizationProfile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GenerateAnswerResetCode">
    <wsdl:part element="tns:GenerateAnswerResetCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MarkMobilePhoneAsPrimary">
    <wsdl:part element="tns:MarkMobilePhoneAsPrimary" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangePassword">
    <wsdl:part element="tns:ChangePassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddRoleWithElements">
    <wsdl:part element="tns:AddRoleWithElements" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeactiveRole">
    <wsdl:part element="tns:DeactiveRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllSecretQuestions">
    <wsdl:part element="tns:RetrieveAllSecretQuestions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMobileMessage">
    <wsdl:part element="tns:SendMobileMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAnswers">
    <wsdl:part element="tns:DeleteAnswers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddRoleWithElementsResponse">
    <wsdl:part element="tns:AddRoleWithElementsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateRoleResponse">
    <wsdl:part element="tns:UpdateRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllUserSuffixes">
    <wsdl:part element="tns:RetrieveAllUserSuffixes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllUserTitlesResponse">
    <wsdl:part element="tns:RetrieveAllUserTitlesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllRegistrationStates">
    <wsdl:part element="tns:RetrieveAllRegistrationStates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSecretAnswersResponse">
    <wsdl:part element="tns:UpdateSecretAnswersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateAnswersResponse">
    <wsdl:part element="tns:CreateAnswersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddRole">
    <wsdl:part element="tns:AddRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationByUserOrganizationIdResponse">
    <wsdl:part element="tns:RetrieveOrganizationByUserOrganizationIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateSecretAnswers">
    <wsdl:part element="tns:CreateSecretAnswers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateRole">
    <wsdl:part element="tns:UpdateRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddRoleResponse">
    <wsdl:part element="tns:AddRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveRoleTypesResponse">
    <wsdl:part element="tns:RetrieveRoleTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSecretAnswers">
    <wsdl:part element="tns:UpdateSecretAnswers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllRegistrationCountries">
    <wsdl:part element="tns:RetrieveAllRegistrationCountries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePendingUserResponse">
    <wsdl:part element="tns:CreatePendingUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUser">
    <wsdl:part element="tns:RetrieveUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserByUserRoleId">
    <wsdl:part element="tns:RetrieveUserByUserRoleId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationsResponse">
    <wsdl:part element="tns:RetrieveOrganizationsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateOrganizationResponse">
    <wsdl:part element="tns:CreateOrganizationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterMobilePhoneResponse">
    <wsdl:part element="tns:RegisterMobilePhoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateUser">
    <wsdl:part element="tns:CreateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DenyRole">
    <wsdl:part element="tns:DenyRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationsByDataflow">
    <wsdl:part element="tns:RetrieveOrganizationsByDataflow" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationsByUserOrganizationIdsResponse">
    <wsdl:part element="tns:RetrieveOrganizationsByUserOrganizationIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserResponse">
    <wsdl:part element="tns:RetrieveUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserMobileResponse">
    <wsdl:part element="tns:RetrieveUserMobileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAllRolesByRoleIdAndOrganizationId">
    <wsdl:part element="tns:retrieveAllRolesByRoleIdAndOrganizationId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizations">
    <wsdl:part element="tns:RetrieveOrganizations" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveSecretAnswers">
    <wsdl:part element="tns:RetrieveSecretAnswers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnregisterMobilePhone">
    <wsdl:part element="tns:UnregisterMobilePhone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserQuestionsStatusResponse">
    <wsdl:part element="tns:RetrieveUserQuestionsStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VerifyMobilePhoneResponse">
    <wsdl:part element="tns:VerifyMobilePhoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePendingUser">
    <wsdl:part element="tns:CreatePendingUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserResponse">
    <wsdl:part element="tns:UpdateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUser">
    <wsdl:part element="tns:UpdateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AuthenticateResponse">
    <wsdl:part element="tns:AuthenticateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllRegistrationCountriesResponse">
    <wsdl:part element="tns:RetrieveAllRegistrationCountriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveRolesResponse">
    <wsdl:part element="tns:RetrieveRolesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterException">
    <wsdl:part element="tns:RegisterFault" name="RegisterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllSecretQuestionsResponse">
    <wsdl:part element="tns:RetrieveAllSecretQuestionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ApproveRole">
    <wsdl:part element="tns:ApproveRole" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllApprovedQuestionsResponse">
    <wsdl:part element="tns:RetrieveAllApprovedQuestionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllUserSuffixesResponse">
    <wsdl:part element="tns:RetrieveAllUserSuffixesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAllRolesByRoleIdAndOrganizationIdResponse">
    <wsdl:part element="tns:retrieveAllRolesByRoleIdAndOrganizationIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DenyRoleResponse">
    <wsdl:part element="tns:DenyRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Authenticate">
    <wsdl:part element="tns:Authenticate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MarkMobilePhoneAsPrimaryResponse">
    <wsdl:part element="tns:MarkMobilePhoneAsPrimaryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeactiveRoleResponse">
    <wsdl:part element="tns:DeactiveRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserMobileByPrimary">
    <wsdl:part element="tns:RetrieveUserMobileByPrimary" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrganization">
    <wsdl:part element="tns:UpdateOrganization" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllRegistrationStatesResponse">
    <wsdl:part element="tns:RetrieveAllRegistrationStatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveRoleTypes">
    <wsdl:part element="tns:RetrieveRoleTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserByUserRoleIdResponse">
    <wsdl:part element="tns:RetrieveUserByUserRoleIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateUserResponse">
    <wsdl:part element="tns:CreateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllApprovedQuestions">
    <wsdl:part element="tns:RetrieveAllApprovedQuestions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveRolesForDataflowResponse">
    <wsdl:part element="tns:RetrieveRolesForDataflowResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserMobileByPrimaryResponse">
    <wsdl:part element="tns:RetrieveUserMobileByPrimaryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GenerateAnswerResetCodeResponse">
    <wsdl:part element="tns:GenerateAnswerResetCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ApproveRoleResponse">
    <wsdl:part element="tns:ApproveRoleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveRolesForDataflow">
    <wsdl:part element="tns:RetrieveRolesForDataflow" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllUserTitles">
    <wsdl:part element="tns:RetrieveAllUserTitles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAnswersResponse">
    <wsdl:part element="tns:DeleteAnswersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateOrganization">
    <wsdl:part element="tns:CreateOrganization" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VerifyMobilePhone">
    <wsdl:part element="tns:VerifyMobilePhone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMobileMessageResponse">
    <wsdl:part element="tns:SendMobileMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationProfileResponse">
    <wsdl:part element="tns:UpdateOrganizationProfileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserMobile">
    <wsdl:part element="tns:RetrieveUserMobile" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveUserQuestionsStatus">
    <wsdl:part element="tns:RetrieveUserQuestionsStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnregisterMobilePhoneResponse">
    <wsdl:part element="tns:UnregisterMobilePhoneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateSecretAnswersResponse">
    <wsdl:part element="tns:CreateSecretAnswersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateAnswers">
    <wsdl:part element="tns:CreateAnswers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveRoles">
    <wsdl:part element="tns:RetrieveRoles" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveSecretAnswersResponse">
    <wsdl:part element="tns:RetrieveSecretAnswersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrganizationResponse">
    <wsdl:part element="tns:UpdateOrganizationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationsByUserOrganizationIds">
    <wsdl:part element="tns:RetrieveOrganizationsByUserOrganizationIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveOrganizationsByDataflowResponse">
    <wsdl:part element="tns:RetrieveOrganizationsByDataflowResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangePasswordResponse">
    <wsdl:part element="tns:ChangePasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegisterService">
    <wsdl:operation name="RegisterMobilePhone">
      <wsdl:input message="tns:RegisterMobilePhone" name="RegisterMobilePhone">
    </wsdl:input>
      <wsdl:output message="tns:RegisterMobilePhoneResponse" name="RegisterMobilePhoneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizationByUserOrganizationId">
      <wsdl:input message="tns:RetrieveOrganizationByUserOrganizationId" name="RetrieveOrganizationByUserOrganizationId">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveOrganizationByUserOrganizationIdResponse" name="RetrieveOrganizationByUserOrganizationIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganizationProfile">
      <wsdl:input message="tns:UpdateOrganizationProfile" name="UpdateOrganizationProfile">
    </wsdl:input>
      <wsdl:output message="tns:UpdateOrganizationProfileResponse" name="UpdateOrganizationProfileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateAnswerResetCode">
      <wsdl:input message="tns:GenerateAnswerResetCode" name="GenerateAnswerResetCode">
    </wsdl:input>
      <wsdl:output message="tns:GenerateAnswerResetCodeResponse" name="GenerateAnswerResetCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MarkMobilePhoneAsPrimary">
      <wsdl:input message="tns:MarkMobilePhoneAsPrimary" name="MarkMobilePhoneAsPrimary">
    </wsdl:input>
      <wsdl:output message="tns:MarkMobilePhoneAsPrimaryResponse" name="MarkMobilePhoneAsPrimaryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePassword" name="ChangePassword">
    </wsdl:input>
      <wsdl:output message="tns:ChangePasswordResponse" name="ChangePasswordResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddRoleWithElements">
      <wsdl:input message="tns:AddRoleWithElements" name="AddRoleWithElements">
    </wsdl:input>
      <wsdl:output message="tns:AddRoleWithElementsResponse" name="AddRoleWithElementsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeactiveRole">
      <wsdl:input message="tns:DeactiveRole" name="DeactiveRole">
    </wsdl:input>
      <wsdl:output message="tns:DeactiveRoleResponse" name="DeactiveRoleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllSecretQuestions">
      <wsdl:input message="tns:RetrieveAllSecretQuestions" name="RetrieveAllSecretQuestions">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveAllSecretQuestionsResponse" name="RetrieveAllSecretQuestionsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMobileMessage">
      <wsdl:input message="tns:SendMobileMessage" name="SendMobileMessage">
    </wsdl:input>
      <wsdl:output message="tns:SendMobileMessageResponse" name="SendMobileMessageResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnswers">
      <wsdl:input message="tns:DeleteAnswers" name="DeleteAnswers">
    </wsdl:input>
      <wsdl:output message="tns:DeleteAnswersResponse" name="DeleteAnswersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApproveRole">
      <wsdl:input message="tns:ApproveRole" name="ApproveRole">
    </wsdl:input>
      <wsdl:output message="tns:ApproveRoleResponse" name="ApproveRoleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllUserSuffixes">
      <wsdl:input message="tns:RetrieveAllUserSuffixes" name="RetrieveAllUserSuffixes">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveAllUserSuffixesResponse" name="RetrieveAllUserSuffixesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllRegistrationStates">
      <wsdl:input message="tns:RetrieveAllRegistrationStates" name="RetrieveAllRegistrationStates">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveAllRegistrationStatesResponse" name="RetrieveAllRegistrationStatesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:Authenticate" name="Authenticate">
    </wsdl:input>
      <wsdl:output message="tns:AuthenticateResponse" name="AuthenticateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input message="tns:AddRole" name="AddRole">
    </wsdl:input>
      <wsdl:output message="tns:AddRoleResponse" name="AddRoleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSecretAnswers">
      <wsdl:input message="tns:CreateSecretAnswers" name="CreateSecretAnswers">
    </wsdl:input>
      <wsdl:output message="tns:CreateSecretAnswersResponse" name="CreateSecretAnswersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input message="tns:UpdateRole" name="UpdateRole">
    </wsdl:input>
      <wsdl:output message="tns:UpdateRoleResponse" name="UpdateRoleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserMobileByPrimary">
      <wsdl:input message="tns:RetrieveUserMobileByPrimary" name="RetrieveUserMobileByPrimary">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveUserMobileByPrimaryResponse" name="RetrieveUserMobileByPrimaryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <wsdl:input message="tns:UpdateOrganization" name="UpdateOrganization">
    </wsdl:input>
      <wsdl:output message="tns:UpdateOrganizationResponse" name="UpdateOrganizationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRoleTypes">
      <wsdl:input message="tns:RetrieveRoleTypes" name="RetrieveRoleTypes">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveRoleTypesResponse" name="RetrieveRoleTypesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllApprovedQuestions">
      <wsdl:input message="tns:RetrieveAllApprovedQuestions" name="RetrieveAllApprovedQuestions">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveAllApprovedQuestionsResponse" name="RetrieveAllApprovedQuestionsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecretAnswers">
      <wsdl:input message="tns:UpdateSecretAnswers" name="UpdateSecretAnswers">
    </wsdl:input>
      <wsdl:output message="tns:UpdateSecretAnswersResponse" name="UpdateSecretAnswersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllRegistrationCountries">
      <wsdl:input message="tns:RetrieveAllRegistrationCountries" name="RetrieveAllRegistrationCountries">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveAllRegistrationCountriesResponse" name="RetrieveAllRegistrationCountriesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUser">
      <wsdl:input message="tns:RetrieveUser" name="RetrieveUser">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveUserResponse" name="RetrieveUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserByUserRoleId">
      <wsdl:input message="tns:RetrieveUserByUserRoleId" name="RetrieveUserByUserRoleId">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveUserByUserRoleIdResponse" name="RetrieveUserByUserRoleIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRolesForDataflow">
      <wsdl:input message="tns:RetrieveRolesForDataflow" name="RetrieveRolesForDataflow">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveRolesForDataflowResponse" name="RetrieveRolesForDataflowResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUser" name="CreateUser">
    </wsdl:input>
      <wsdl:output message="tns:CreateUserResponse" name="CreateUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DenyRole">
      <wsdl:input message="tns:DenyRole" name="DenyRole">
    </wsdl:input>
      <wsdl:output message="tns:DenyRoleResponse" name="DenyRoleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllUserTitles">
      <wsdl:input message="tns:RetrieveAllUserTitles" name="RetrieveAllUserTitles">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveAllUserTitlesResponse" name="RetrieveAllUserTitlesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <wsdl:input message="tns:CreateOrganization" name="CreateOrganization">
    </wsdl:input>
      <wsdl:output message="tns:CreateOrganizationResponse" name="CreateOrganizationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerifyMobilePhone">
      <wsdl:input message="tns:VerifyMobilePhone" name="VerifyMobilePhone">
    </wsdl:input>
      <wsdl:output message="tns:VerifyMobilePhoneResponse" name="VerifyMobilePhoneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizationsByDataflow">
      <wsdl:input message="tns:RetrieveOrganizationsByDataflow" name="RetrieveOrganizationsByDataflow">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveOrganizationsByDataflowResponse" name="RetrieveOrganizationsByDataflowResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserMobile">
      <wsdl:input message="tns:RetrieveUserMobile" name="RetrieveUserMobile">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveUserMobileResponse" name="RetrieveUserMobileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserQuestionsStatus">
      <wsdl:input message="tns:RetrieveUserQuestionsStatus" name="RetrieveUserQuestionsStatus">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveUserQuestionsStatusResponse" name="RetrieveUserQuestionsStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveAllRolesByRoleIdAndOrganizationId">
      <wsdl:input message="tns:retrieveAllRolesByRoleIdAndOrganizationId" name="retrieveAllRolesByRoleIdAndOrganizationId">
    </wsdl:input>
      <wsdl:output message="tns:retrieveAllRolesByRoleIdAndOrganizationIdResponse" name="retrieveAllRolesByRoleIdAndOrganizationIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizations">
      <wsdl:input message="tns:RetrieveOrganizations" name="RetrieveOrganizations">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveOrganizationsResponse" name="RetrieveOrganizationsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateAnswers">
      <wsdl:input message="tns:CreateAnswers" name="CreateAnswers">
    </wsdl:input>
      <wsdl:output message="tns:CreateAnswersResponse" name="CreateAnswersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRoles">
      <wsdl:input message="tns:RetrieveRoles" name="RetrieveRoles">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveRolesResponse" name="RetrieveRolesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecretAnswers">
      <wsdl:input message="tns:RetrieveSecretAnswers" name="RetrieveSecretAnswers">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveSecretAnswersResponse" name="RetrieveSecretAnswersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnregisterMobilePhone">
      <wsdl:input message="tns:UnregisterMobilePhone" name="UnregisterMobilePhone">
    </wsdl:input>
      <wsdl:output message="tns:UnregisterMobilePhoneResponse" name="UnregisterMobilePhoneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizationsByUserOrganizationIds">
      <wsdl:input message="tns:RetrieveOrganizationsByUserOrganizationIds" name="RetrieveOrganizationsByUserOrganizationIds">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveOrganizationsByUserOrganizationIdsResponse" name="RetrieveOrganizationsByUserOrganizationIdsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePendingUser">
      <wsdl:input message="tns:CreatePendingUser" name="CreatePendingUser">
    </wsdl:input>
      <wsdl:output message="tns:CreatePendingUserResponse" name="CreatePendingUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUser" name="UpdateUser">
    </wsdl:input>
      <wsdl:output message="tns:UpdateUserResponse" name="UpdateUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RegisterException" name="RegisterException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterServiceSoapBinding" type="tns:RegisterService">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdateOrganizationProfile">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateOrganizationProfile">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateOrganizationProfileResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizationByUserOrganizationId">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveOrganizationByUserOrganizationId">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveOrganizationByUserOrganizationIdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterMobilePhone">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RegisterMobilePhone">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterMobilePhoneResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateAnswerResetCode">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="GenerateAnswerResetCode">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GenerateAnswerResetCodeResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MarkMobilePhoneAsPrimary">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="MarkMobilePhoneAsPrimary">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MarkMobilePhoneAsPrimaryResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="ChangePassword">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangePasswordResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddRoleWithElements">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="AddRoleWithElements">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddRoleWithElementsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeactiveRole">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="DeactiveRole">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeactiveRoleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllSecretQuestions">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveAllSecretQuestions">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveAllSecretQuestionsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMobileMessage">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="SendMobileMessage">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendMobileMessageResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnswers">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteAnswers">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteAnswersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApproveRole">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="ApproveRole">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ApproveRoleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllUserSuffixes">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveAllUserSuffixes">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveAllUserSuffixesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllRegistrationStates">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveAllRegistrationStates">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveAllRegistrationStatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="Authenticate">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AuthenticateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="AddRole">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddRoleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSecretAnswers">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="CreateSecretAnswers">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateSecretAnswersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateRole">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateRoleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserMobileByPrimary">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveUserMobileByPrimary">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveUserMobileByPrimaryResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateOrganization">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRoleTypes">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveRoleTypes">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveRoleTypesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllApprovedQuestions">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveAllApprovedQuestions">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveAllApprovedQuestionsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSecretAnswers">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateSecretAnswers">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateSecretAnswersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllRegistrationCountries">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveAllRegistrationCountries">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveAllRegistrationCountriesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUser">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveUser">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveUserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserByUserRoleId">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveUserByUserRoleId">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveUserByUserRoleIdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRolesForDataflow">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveRolesForDataflow">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveRolesForDataflowResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="CreateUser">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateUserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DenyRole">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="DenyRole">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DenyRoleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllUserTitles">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveAllUserTitles">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveAllUserTitlesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganization">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="CreateOrganization">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateOrganizationResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerifyMobilePhone">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="VerifyMobilePhone">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="VerifyMobilePhoneResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizationsByDataflow">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveOrganizationsByDataflow">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveOrganizationsByDataflowResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserMobile">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveUserMobile">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveUserMobileResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveUserQuestionsStatus">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveUserQuestionsStatus">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveUserQuestionsStatusResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveAllRolesByRoleIdAndOrganizationId">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="retrieveAllRolesByRoleIdAndOrganizationId">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveAllRolesByRoleIdAndOrganizationIdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizations">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveOrganizations">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveOrganizationsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateAnswers">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="CreateAnswers">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateAnswersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRoles">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveRoles">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveRolesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSecretAnswers">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveSecretAnswers">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveSecretAnswersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UnregisterMobilePhone">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="UnregisterMobilePhone">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UnregisterMobilePhoneResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetrieveOrganizationsByUserOrganizationIds">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveOrganizationsByUserOrganizationIds">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveOrganizationsByUserOrganizationIdsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePendingUser">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="CreatePendingUser">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreatePendingUserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateUser">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateUserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RegisterException">
        <soap12:fault name="RegisterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterService">
    <wsdl:port binding="tns:RegisterServiceSoapBinding" name="RegisterServicePort">
      <soap12:address location="https://devngn.epacdxnode.net/cdx-register-II/services/RegisterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>