cef-web/src/main/resources/schema/CERS/2/0/CER_Process_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>
			Schema Name  : CER_Process_v2.0.xsd
        		Current Version Available At : http://www.exchangenetwork.net/schema/cer/2/0/CER_EmissionsProcess_v2.0.xsd
		        Description   : Identifies the specific operational activities that produce emissions either directly or indirectly.
		        Developed by  : Jonathan Miller, National Air Data Group (NADG)
		        Point of Contact : NADG, Outreach and Inforamation Division, Office of Air Quality Planning and Standards, Office of Air and Radiation, USEPA
		        Last Edited: August 25, 2020.
	        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v2.0.xsd"/>
	<xsd:include schemaLocation="CER_Identification_v2.0.xsd"/>
	<xsd:include schemaLocation="CER_Regulation_v2.0.xsd"/>
	<xsd:include schemaLocation="CER_DeleteReportingPeriod_v2.0.xsd"/>
	<xsd:include schemaLocation="CER_ReportingPeriod_v2.0.xsd"/>
	<xsd:include schemaLocation="CER_ReleasePointApportionment_v2.0.xsd"/>
	<xsd:include schemaLocation="CER_ControlApproach_v2.0.xsd"/>
	<xsd:complexType name="ProcessDataType">
		<xsd:sequence>
			<xsd:element ref="cer:SourceClassificationCode" minOccurs="0"/>
			<xsd:element ref="cer:EmissionsTypeCode" minOccurs="0"/>
			<xsd:element ref="cer:AircraftEngineTypeCode" minOccurs="0"/>
			<xsd:element ref="cer:ProcessDescription" minOccurs="0"/>
			<xsd:element ref="cer:ProcessStatusCode" minOccurs="0"/>
			<xsd:element ref="cer:ProcessStatusCodeYear" minOccurs="0"/>
			<xsd:element ref="cer:ProcessComment" minOccurs="0"/>
			<xsd:element ref="cer:ProcessIsReadOnly" minOccurs="0"/>
			<xsd:element ref="cer:ProcessIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ProcessRegulation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ProcessControlApproach" minOccurs="0"/>
			<xsd:element ref="cer:DeleteReportingPeriod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ReportingPeriod" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cer:ReleasePointApportionment" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="LocationEmissionsProcess" type="cer:ProcessDataType"/>
	<xsd:element name="UnitEmissionsProcess" type="cer:ProcessDataType"/>
</xsd:schema>
