cef-web/src/main/resources/schema/CERS/2/0/CER_ControlPollutant_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_ControlPollutant_v2.0.xsd
        Current Version Available At :  http://www.exchangenetwork.net/schema/cer/2/0/CER_ControlPollutant_v2.0.xsd
        Description   : Information on the pollutants being controlled by a collection of control devices
        Developed by  : 	 Jonathan Miller, National Air Data Group (NADG)
        Point of Contact :  NADG, Outreach and Inforamation Division, Office of Air Quality Planning and Standards, Office of Air and Radiation, USEPA
        Last Edited: March 18, 2020
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v2.0.xsd"/>
	<xsd:complexType name="ControlPollutantDataType">
		<xsd:sequence>
			<xsd:element ref="cer:PollutantCode"/>
			<xsd:element ref="cer:PercentControlMeasuresReductionEfficiency" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ControlPollutant" type="cer:ControlPollutantDataType"/>
	<xsd:element name="SiteControlPollutant" type="cer:ControlPollutantDataType"/>
	<xsd:element name="ControlPathControlPollutant" type="cer:ControlPollutantDataType"/>
</xsd:schema>
