cef-web/src/main/resources/schema/CERS/2/0/CER_Identification_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>
		Schema Name  : CER_Identification_v2.0.xsd
        Current Version Available At : http://www.exchangenetwork.net/schema/cer/1/2/CER_Identification_v2.0.xsd
        Description   : Identifiers by which an entity is known or has been known.
        Developed by  : 	 Jonathan Miller, National Air Data Group (NADG)
        Point of Contact :  NADG, Outreach and Inforamation Division, Office of Air Quality Planning and Standards, Office of Air and Radiation, USEPA
        Last Edited: March 18, 2020	
        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v2.0.xsd"/>
	<xsd:complexType name="IdentificationDataType">
		<xsd:sequence>
			<xsd:element ref="cer:Identifier"/>
			<xsd:element ref="cer:ProgramSystemCode"/>
			<xsd:element ref="cer:EffectiveDate" minOccurs="0"/>
			<xsd:element ref="cer:EndDate" minOccurs="0"/>
			<xsd:element ref="cer:IdentifierIsReadOnly" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ProcessIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ReleasePointIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ReleasePointApportionmentIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ReleasePointApportionmentPathIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="UnitIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="SiteControlIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ControlPathIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ControlPathDefinitionControlIdentification" type="cer:IdentificationDataType"/>
	<xsd:element name="ControlPathDefinitionPathIdentification" type="cer:IdentificationDataType"/>
</xsd:schema>
