cef-web/src/main/resources/schema/CERS/2/0/CER_GeographicCoordinates_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:cer="http://www.exchangenetwork.net/schema/cer/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/cer/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:documentation>
			Schema Name  : CER_GeographicCoordinates_v2.0.xsd
		        Current Version Available At :  http://www.exchangenetwork.net/schema/cer/2/0/CER_GeographicCoordinates_v2.0.xsd
		        Description   : Identifies the geographic location of the facility site, emission release point, or event.
		        Developed by  : Jonathan Miller, National Air Data Group (NADG)
		        Point of Contact : NADG, Outreach and Inforamation Division, Office of Air Quality Planning and Standards, Office of Air and Radiation, USEPA
		        Last Edited: March 18, 2020
	        </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="CER_SimpleContent_v2.0.xsd"/>
	<xsd:complexType name="GeographicCoordinatesDataType">
		<xsd:sequence>
			<xsd:element ref="cer:LatitudeMeasure"/>
			<xsd:element ref="cer:LongitudeMeasure"/>
			<xsd:element ref="cer:MidPoint2LatitudeMeasure" minOccurs="0"/>
			<xsd:element ref="cer:MidPoint2LongitudeMeasure" minOccurs="0"/>
			<xsd:element ref="cer:SourceMapScaleNumber" minOccurs="0"/>
			<xsd:element ref="cer:HorizontalAccuracyMeasure" minOccurs="0"/>
			<xsd:element ref="cer:HorizontalAccuracyUnitofMeasure" minOccurs="0"/>
			<xsd:element ref="cer:HorizontalCollectionMethodCode" minOccurs="0"/>
			<xsd:element ref="cer:HorizontalReferenceDatumCode" minOccurs="0"/>
			<xsd:element ref="cer:GeographicReferencePointCode" minOccurs="0"/>
			<xsd:element ref="cer:DataCollectionDate" minOccurs="0"/>
			<xsd:element ref="cer:GeographicComment" minOccurs="0"/>
			<xsd:element ref="cer:VerticalMeasure" minOccurs="0"/>
			<xsd:element ref="cer:VerticalUnitofMeasureCode" minOccurs="0"/>
			<xsd:element ref="cer:VerticalCollectionMethodCode" minOccurs="0"/>
			<xsd:element ref="cer:VerticalReferenceDatumCode" minOccurs="0"/>
			<xsd:element ref="cer:VerificationMethodCode" minOccurs="0"/>
			<xsd:element ref="cer:CoordinateDataSourceCode" minOccurs="0"/>
			<xsd:element ref="cer:GeometricTypeCode" minOccurs="0"/>
			<xsd:element ref="cer:AreaWithinPerimeter" minOccurs="0"/>
			<xsd:element ref="cer:AreaWithinPerimeterUnitofMeasureCode" minOccurs="0"/>
			<xsd:element ref="cer:GeographicCoordinateIsReadOnly" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EventGeographicCoordinates" type="cer:GeographicCoordinatesDataType"/>
	<xsd:element name="FacilitySiteGeographicCoordinates" type="cer:GeographicCoordinatesDataType"/>
	<xsd:element name="ReleasePointGeographicCoordinates" type="cer:GeographicCoordinatesDataType"/>
</xsd:schema>
